{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}
<div class="container my-3">
    <div class="p-3 mb-2 bg-primary text-white text-center"><h4>ABOUT US</h4></div>
    <p class="text-secondary my-5">
        This is a Forum Website created by <b>Aman Verma</b>. This is a peer-to-peer forum to provide learners a space
        to discuss there
        problems and find solutions to them.This forum is for educational purposes. Shared knowledge helps us all to
        learn more.
        Please respect that this forum is for educational purposes only.
        <br>
    <h4> FORUM GUIDELINES</h4>
    <p>
        -No Spam / Advertising / Self-promote in the forums. <br>
        -Do not post copyright-infringing material.<br>
        -Do not post “offensive” posts, links or images. <br>
        -Do not cross post questions. <br>
        -Do not PM users asking for help. <br>
        -Remain respectful of other members at all times<br>
        -Please hold to a single topic for each thread. Be sure to list your topic in the message header/subject box
        before sending.<br>
        -Please remember people are sensitive towards criticism or perceived criticism, keep responses positive and
        constructive.<br>
    </p>
    </p>
</div>

{% endblock body %}